DEBUG=1
SECRET_KEY=change-me-in-production
ALLOWED_HOSTS=localhost,127.0.0.1,backend

POSTGRES_DB=livedev
POSTGRES_USER=livedev
POSTGRES_PASSWORD=livedev2026solovey
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=live-dev@mail.ru
DJANGO_SUPERUSER_PASSWORD=ad583hr

